.swiper-button-next,
.swiper-button-prev {
  color: transparent;
}


.swiper {
  width: 100vw;
  height: 70vh;
}

.swiper img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.swiper-pagination-bullet-active {
  background-color: transparent;
}

.hero-mobile{
  display: none;
}


@media (max-width: 600px) {

  .hero-mobile{
    display: flex;
    height: 900px;
    width: 100%;
    background: black;
    color: white;
    flex-direction: column;
    padding: 1rem;
    font-size: 1.7rem;
    line-height: 1.1;
    

  }

  .hero-mobile h2{
    color: #39E1DC;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .hero-mobile p {
    text-align: center;
    margin-bottom: 1.2rem;
  }

  .subtitle-hero {
    color: #39E1DC;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
    line-height: 0.9;

  }


  .hero-mobile {
    color: white;
    font-weight: 300;
    font-size: 1.7rem;
    text-align: center;
    
  }

  .hero-img-box{
    display: flex;
    border: solid 10px;
    border-radius: 30px;
    color:gray;
    height: auto;
    max-height: 320px;
    width: auto;
    max-width: 320px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: auto;
  }

  .hero-img-box img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    display: flex; /* elimina espacios blancos debajo */
    object-fit: contain;
    border-radius: 1.5rem;
    
  }

  .hero-contact-mobile{
    background: linear-gradient(135deg,
    #dcdcdc 0%,
    #a9a9a9 25%,
    #f5f5f5 50%,
    #a9a9a9 75%,
    #dcdcdc 100%);
    border-radius: 0.5rem;
    border: solid 1px #5f5f5fff;
    width: 200px;
    height: 3rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
    color: white;
    text-shadow: 2px 2px #8b8989ff
  }

  .buttons-hero{
    height: 3rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
  }





.swiper-button-next,
.swiper-button-prev {
  color: transparent;
  display: none;
}



.swiper {
  width: 100vw;
  height: 70vh;
  display: none;
}

.swiper img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: transparent;
  display: none;
}
}
